<div class="filter-panel" id="filter">
    <div>
        <h4>فیلتر :</h4>
    </div>
    <div class="filter-child">
        <div class="dateField md-12">
            <span>از تاریخ :</span>
            <span>
                <i class="fas fa-calendar-alt"></i>
            </span>
            <input type="text" class="observer-example" id="from"/>
        </div>
        <div class="dateField md-12">
            <span>تا تاریخ :</span>
            <span>
                <i class="fas fa-calendar-alt" ></i>
            </span>
            <input type="text" class="observer-example" id="to"/>
        </div>
    </div>
    <div class="filter-button">
        <button id="dateFilter">اعمال فیلتر</button>
    </div>
</div>