<div class="navareElan">
    <div class="moment-parent md-5">
        <div class="child-date">
            <div class="dateText">تاریخ :</div>
            <div class="showDate"></div>
        </div>
        <div class="child-clock">
            <div class="clockText">ساعت :</div>
            <div class="showClock"></div>
        </div>
    </div>
    <div class="info-parent md-7">
        <div class="showInfo">
            <span id="resultText"> <%= title %>  </span>
        </div>
    </div>
</div>